<div class="control-group">
  <label class="span1 control-label">${i18n("project.attr.name")}</label>
  <div class="span3">
    <input type="text" id="name" name="name" value="${name!}" class=""/>
  </div>
  <label class="span1 control-label">${i18n("project.attr.customer")}</label>
  <div class="span3">
    <input type="text" id="customer" name="customer" value="${customer!}" class=""/>
  </div>
  <label class="span1 control-label">${i18n("project.attr.package")}</label>
  <div class="span3">
    <input type="text" id="package" name="package" value="${package!}" class=""/>
  </div>
</div>