<? layout("/layouts/list.html",{"module":"role","operate":"list","add":true,"search":true}){ ?>
  <table id="role" class="layui-table"></table>
  <script>
	layui.use('table', function(){
		var table = layui.table;
		table.render({
			elem: '#role',
			url: '${ctx!}/role/page',
			cols: [[
				{checkbox: true, fixed: true},
				{field:'id', title: '${i18n("common.index")}', width:70, sort: true, fixed: true},
				{field:'name', title: '${i18n("role.attr.name")}', width:200},
				{field:'permission', title: '${i18n("role.attr.permission")}', width:700},
				{field:'sort', title: '${i18n("common.sort")}', width:70, sort: true}
			]],
			page: true,
			height: 315
		});
	});
  </script>
<? } ?>