<div class="layui-form-item">
  <div class="layui-inline col-4">
    <label class="layui-form-label">${i18n("role.attr.name")}</label>
    <div class="layui-input-block">
      <input type="text" id="name" name="name" value="${name!}" class="layui-input"/>
    </div>
  </div>
  <div class="layui-inline col-4">
    <label class="layui-form-label">${i18n("role.attr.code")}</label>
    <div class="layui-input-block">
      <input type="text" id="code" name="code" value="${code!}" class="layui-input"/>
    </div>
  </div>
</div>