<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=Edge, chorme=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>${i18n(module!+"."+operate!)}</title>
    <link rel="icon" type="image/x-icon" href="${ctx!}/static/img/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="${ctx!}/static/img/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="${ctx!}/static/img/favicon.ico" />
	<!-- layui 2.0.2 -->
	<link rel="stylesheet" href="${ctx!}/static/plugins/layui/css/layui.css" />
    <!-- FontAwesome 4.7.0 -->
    <link rel="stylesheet" href="${ctx!}/static/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- global style -->
    <link rel="stylesheet" href="${ctx!}/static/css/global.css" />
    <!-- layout style -->
    <link rel="stylesheet" href="${ctx!}/static/css/layout.css" />
    <!-- IE8以及以下版本浏览器支持HTML5元素和媒体查询 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!-- layui 2.0.2 -->
    <script src="${ctx!}/static/plugins/layui/layui.js" charset="utf-8" type="text/javascript"></script>
  </head>
  <body>
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header head">
        <div class="layui-main">
          <div class="logo fl">
            <a href="${ctx!}/"><img src="${ctx!}/static/img/logo.png" title="${i18n('system.name')}"></a>
          </div>
        </div>
	    <ul class="layui-nav fr">
		  <li class="layui-nav-item layui-this"><a href="">主页</a></li>
		  <li class="layui-nav-item"><a href="${ctx!}/logout"><i class="fa fa-sign-out"></i>退出</a></li>
		</ul>
      </div>
      <!-- 左边菜单栏  -->
      <div class="layui-side">
        <div class="layui-side-scroll">
          <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item"><a href="${ctx!}/patent"><i class="fa fa-shield mr5"></i><span class="nav-label">专利库</span></a></li>
            <li class="layui-nav-item"><a href="${ctx!}/office">${i18n("office.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/user">${i18n("user.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/role">${i18n("role.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/dict">${i18n("dict.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/log">${i18n("log.module")}</a></li>
          </ul>
        </div>
      </div>
      <div class="layui-body">
        ${layoutContent}
      </div>
      <div class="layui-footer c9">${i18n('copyright')}</div>
    </div>
  </body>
</html>