<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=Edge, chorme=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>${i18n(module!+"."+operate!)}</title>
    <link rel="icon" type="image/x-icon" href="${ctx!}/static/img/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="${ctx!}/static/img/favicon.ico" />
	<link rel="bookmark" type="image/x-icon" href="${ctx!}/static/img/favicon.ico" />
	<!-- layui 2.0.2 -->
	<link rel="stylesheet" href="${ctx!}/static/plugins/layui/css/layui.css" media="all" />
    <!-- FontAwesome 4.7.0 -->
    <link rel="stylesheet" href="${ctx!}/static/plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <!-- global style
    <link rel="stylesheet" href="${ctx!}/static/css/global.css" media="all" /> -->
    <!-- layout style -->
    <link rel="stylesheet" href="${ctx!}/static/css/layout.css" media="all" />
    <!-- IE8以及以下版本浏览器支持HTML5元素和媒体查询 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!-- layui 2.0.2 -->
    <script src="${ctx!}/static/plugins/layui/layui.js" charset="utf-8" type="text/javascript"></script>
  </head>
  <body>
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <div class="layui-logo">${i18n('system.name')}</div>
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layui-this"><a href="${ctx!}/">${i18n("home.module")}</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"> Van
            </a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;">基本资料</a></dd>
              <dd><a href="javascript:;">安全设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="${ctx!}/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>${i18n("logout")}</a></li>
        </ul>
      </div>
      <div class="layui-side layui-bg-green">
        <div class="layui-side-scroll">
          <div class="sidebar"><i class="fa fa-navicon" aria-hidden="true"></i></div>
          <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item"><a href="${ctx!}/patent"><i class="fa fa-shield mr5"></i><span class="nav-label">专利库</span></a></li>
            <li class="layui-nav-item"><a href="${ctx!}/office">${i18n("office.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/user">${i18n("user.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/role">${i18n("role.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/dict">${i18n("dict.module")}</a></li>
            <li class="layui-nav-item"><a href="${ctx!}/log">${i18n("log.module")}</a></li>
          </ul>
        </div>
      </div>
      <div class="layui-body">
        ${layoutContent}
      </div>
      <div class="layui-footer c9">${i18n('copyright')}</div>
    </div>
  </body>
</html>